<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hello World</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <header>
        <div class="container">
            <h1>Hello World Website</h1>
        </div>
    </header>

    <section id="hero">
        <div class="hero-content">
            <h2>Welcome to my project</h2>
            <p>WELLCOME</p>
        </div>
    </section>

    <footer>
        <div class="container">
            <p>&copy; 2024 Hello World Website. All Rights Reserved.</p>
        </div>
    </footer>

</body>
</html>
